section {
    margin: 50px 0;
}

.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    overflow-y: scroll;
}

.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
}

.map {
    width: 100%;
    height: calc(100% - 60px);
}

.info {
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
}

input[type=submit] {
    border: 0;
    color: white;
    background-color: #495579;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

input[type=submit]:hover {
    color: #495579;
    background-color: white;
}

img {
    width: 10%;
}

.img-box img {
    width: 100%;
}

.flex-box {
    margin-top: 10px;
}

#theme, #theme-detail, #surround, #surround-detail {
    padding: 10px;
}

#theme, #surround {
    background-color: #616161;
    color: white;
}

#theme-detail, #surround-detail {
    background-color: #c3c3c3;
}

#left-box {
    float: left;
    display: flex;
}

#right-box {
    float: right;
    display: flex;
}

#facilities-all {
    width: 100%;
    display: flex;
    padding: 10px 0;
    background-color: #f4f4f4;
    border-top: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
}

#facilities-all div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#englishAddress{
    display: none;
}