section {
    margin: 20px 100px;
}

h4 {
    font-size: 24px;
    margin: 10px 0;
    color: black;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 0;
    width: 100%;
}

table td {
    padding: 5px;
    border: none;
}

.box-bottom {
    border-bottom: 1px solid #ccc;
}

button, input[type="button"], #reply-btn {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 10px;
}

button, input[type="button"]:hover {
    background-color: white;
    color: #2c3e50;
}

input[type="text"], textarea {
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

#reply-write {
    text-align: center;
}

#reply-write input[type="text"] {
    width: 80%;
}

.edit-box textarea {
    width: 700px;
    height: 50px;
}
