.mypage-box {
    text-align: center;
    margin: 50px 0;
}

button, input[type=button] {
    background-color: #495579;
    color: white;
    border: 0;
    padding: 10px;
}

button:hover, input[type=button]:hover {
    background-color: white;
    color: #495579;
}

img {
    margin: 20px 0;
}