section {
    margin: 50px auto;
    text-align: center;
}

section div {
    margin: 0 auto;
}

button {
    border: 0;
    background-color: #495579;
    color: white;
    padding: 10px;
}

button:hover {
    color: #495579;
    background-color: white;
}

h3 {
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 50px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #column_chart_div1 {
        width: 100%;
    }
}

@media (max-width: 991px) {
    #column_chart_div1 {
        width: 100%;
    }
}