section {
    margin: 50px 0;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    width: fit-content;
}

.camp-width-box {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.camp-width-box:before, .camp-width-box:after {
    display: block;
    content: '';
}

.camp-width-box:after {
    clear: both;
}

.camp-img {
    width: 50%;
    text-align: center;
}

.camp-img img {
    width: 80%;
}

.camp-info > div {
    width: fit-content;
    border: 1px solid #ccc;
    padding: 10px;
}

.row {
    justify-content: space-evenly;
}

.booking-check {
    text-align: center;
}

.check-btn {
    width: fit-content;
    padding: 10px;
    background-color: #ccc;
    margin: 10px auto;
}

.check-btn:hover {
    background-color: #495579;
    color: white;
    color: white;
    color: white;
}

.campsite-card {
    display: flex;
    justify-content: center
}

.campsite {
    width: 400px;
    border: 1px solid #ccc;
    display: flex;
    text-align: center;
}

.campsite label {
    width: 100%;
}

.img-wrapper {
    width: 100%;
    height: 230px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}

input[type=radio] {
    margin: 10px;
}

#checkExtraPeople, #inputExtraPeopleNum, #checkExtraCaraban, #inputExtraCaraban {
    text-align: center;
    margin: 20px auto;
}

#checkCampSite {
    width: fit-content;
    background-color: #ccc;
    padding: 10px;
    margin: 10px auto;
}

#checkCampSite:hover {
    background-color: #495579;
    color: white;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.flex-box div {
    width: 75px;
    height: 50px;
    line-height: 50px;
    background-color: #ccc;
    cursor: pointer;
}

.flex-box div:hover {
    background-color: #495579;
    color: white;
}

.flex-box div:first-child {
    margin-right: 10px;
}

#booking-button {
    text-align: center;
}

#booking-button input[type=button] {
    padding: 10px;
}

.box-none {
    display: none;
    font-size: 1.2em;
}

#checkExtraPeople, #inputExtraPeopleNum, #checkExtraCaraban, #inputExtraCaraban, #booking-button {
    margin-top: 100px;
}